// === VARIABLES ===

$tablet-start: 768px;
$tablet-end: 1024px;
$desktop-start: 1025px;

:root {
    --bg-color: #F6F6F6;
    --grey: #353535;
    --grey-light: #EAEAEA;
    --grey-tint-4: #7E7E7E;
    --green-font: #008766;
    --green: #99E2D0;
}
