// === RESPONSIVE ===

$tablet-start: 768px;
$tablet-end: 1024px;
$desktop-start: 1025px;

// === COLORS ===

$amethyst: #9356DC;
$black: #000000;
$black-2: #101010; 
$grey: #7E7E7E;
$night-rider: #353535;
$observatory: #008766;
$pale-magenta: #FF79DA;
$riptide: #99E2D0;
$whisper: #EAEAEA;
$white: #FFFFFF;
$white-smoke: #F6F6F6;
