.footer {
    // Background and Color
    background-color: $night-rider;

    &__wrapper {
        // Box Model
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 22px 25px 22px 25px;

        @include tablet {
            // Box Model
            flex-direction: row-reverse;
            gap: 74px; // 130 (Contact) - 56 = 74
            padding: 30px 25px 30px 25px;
            margin: 0 auto;
            max-width: 1024px;
            box-sizing: border-box;
        }

        @include desktop {
            // Box Model
            flex-direction: row-reverse;
            gap: 74px; // 130 (Contact) - 56 = 74
            padding: 30px 25px 30px 25px;
            margin: 0 auto;
            max-width: 1440px;
            box-sizing: border-box;
        }
    }
    
    &__logo {
        // Box Model
        margin: 0 40px 0 0; // 137(ohmyfood)-97=40

        // Background and Color
        color: $white;

        // Typography
        font-family: Shrikhand;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;

        @include tablet {
            // Box Model
            display: flex;
            align-items: flex-end;
            height: 54px;
        }

        @include desktop {
            // Box Model
            display: flex;
            align-items: flex-end;
            height: 54px;
        }
    }

    &__list {
        // Box Model
        display: flex;
        flex-direction: column;
        gap: 7px;
        padding: 0;
        margin: 0;
        list-style-type: none;

        @include tablet {
            // Box Model
            flex-direction: row;
            align-items: flex-end;
            height: 54px;
        }

        @include desktop {
            // Box Model
            flex-direction: row;
            align-items: flex-end;
            height: 54px;
        }

        &-item {
            // Box Model
            display: flex;
            align-items: center;

            @include tablet {
                &:nth-of-type(3) {
                    // Box Model
                    margin-left: 37px; // 168-131=37
                }
            }
    
            @include desktop {
                &:nth-of-type(3) {
                    // Box Model
                    margin-left: 37px; // 168-131=37
                }
            }
        }

        &-link {
            // Background and Color
            color: $white;

            // Typography
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 19px;
            text-decoration: none;

            .footer__list-item:nth-of-type(3) &,
            .footer__list-item:nth-of-type(4) & {
                font-weight: 400;
            }
        }

        &-icon {
            // Box Model
            width: 11px;
            margin-right: 11px;

            // Background and Color
            color: $white;

            // Typography
            font-size: 13px;
        }
    }
}
