.header-headline {
    // Positioning
    position: relative;

    // Box Model
    display: flex;
    align-items: center;
    padding: 14px 0px 13px 0px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);

    &__nav {
        // Positioning
        position: relative;
    }
    
        &__back {
            // Positioning
            position: absolute;
            left: 17px;
            z-index: 1;
        }

        &__logo {
            // Box Model
            margin: 0;

            // Background and Color
            color: $black-2;

            // Typography
            font-family: Shrikhand;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
        }
}

.header-location {
    // Background and Color
    background-color: $whisper; 

    &__wrapper {
        // Box Model
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
        height: 50px;
    }

        &__icon {
            // Background and Color
            color: $night-rider;

            // Typography
            font-size: 16px;
        }

        &__title {
            // Box Model
            margin: 0;

            // Background and Color
            background: none;
            color: $night-rider;

            // Typography
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 19px;
        }
}
