@mixin home-title-mobile {
    // Typography
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

@mixin home-title-desktop {
    // Typography
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
}
