/* SLICING */

:root {
  --border-size: 2px;
  --div-border-color: #000000;
  --span-border-color: #808080;
  --header-border-color: #FA8072;
  --nav-border-color: #1ca9c9;
  --main-border-color: #1ca9c9;
  --section-border-color: #FFD700;
  --article-border-color: #EE82EE;
  --footer-border-color: #EE82EE;

  --img-border-color: #FF0000;
  --form-border-color: #008000;
  --i-border-color: #00FFFF;
  --input-border-color: #FF00FF;
  --button-border-color: #FFFF00;
  
  --ul-border-color: #DDA0DD;
  --li-border-color: #800080;
  --a-border-color: #0000FF;

  --h1-border-color: #006A4E;
  --h2-border-color: #568203;
  --h3-border-color: #17B169;
  --h4-border-color: #4FFFB0;
  --p-border-color: #85DE1F;
}

div {
  border: var(--border-size) solid var(--div-border-color);
}

span {
  border: var(--border-size) solid var(--span-border-color);
}

header {
  border: var(--border-size) solid var(--header-border-color);
}

nav {
  border:var(--border-size) solid var(--nav-border-color);
}

main {
  border:var(--border-size) solid var(--main-border-color);
}

section {
  border:var(--border-size) solid var(--section-border-color);
}

article {
  border:var(--border-size) solid var(--article-border-color);
}

footer {
  border:var(--border-size) solid var(--footer-border-color);
}

img {
  border: var(--border-size) solid var(--img-border-color);
}

form {
  border:var(--border-size) solid var(--form-border-color);
}

i {
  border:var(--border-size) solid var(--i-border-color);
}

input {
  border:var(--border-size) solid var(--input-border-color);
}

button {
  border:var(--border-size) solid var(--button-border-color);
}

ul {
  border: var(--border-size) solid var(--ul-border-color);
}

li {
  border: var(--border-size) solid var(--li-border-color);
}

a {
  border: var(--border-size) solid var(--a-border-color);
}

h1 {
  border: var(--border-size) solid var(--h1-border-color);
}

h2 {
  border: var(--border-size) solid var(--h2-border-color);
}

h3 {
  border: var(--border-size) solid var(--h3-border-color);
}

h4 {
  border: var(--border-size) solid var(--h4-border-color);
}

p {
  border: var(--border-size) solid var(--p-border-color);
}
