:root {
  --bg-color: #F6F6F6;
  --grey: #353535;
  --grey-light: #EAEAEA;
  --grey-tint-4: #7E7E7E;
  --green-font: #008766;
  --green: #99E2D0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header, main, section, footer {
  width: 100%;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .main-container {
    max-width: 1024px;
    padding: 0 180px 0 180px;
  }
}
@media (min-width: 1025px) {
  .main-container {
    max-width: 1440px;
    padding: 0 180px 0 180px;
  }
}

main {
  display: flex;
  flex-direction: column;
}

.section__title {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.header-headline {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0px 13px 0px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header-headline__button {
  position: absolute;
  left: 17px;
  padding: 0;
  border: none;
  background: none;
  opacity: 0;
}
.header-headline__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grey);
  font-size: 30px;
}
.header-headline__logo {
  margin: 0;
  color: var(--black, #101010);
  font-family: Shrikhand;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.header-location {
  background-color: var(--grey-light);
}
.header-location__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
}
.header-location__icon {
  color: var(--grey);
  font-size: 16px;
}
.header-location__button {
  padding: 0;
  border: none;
  background: none;
  color: var(--grey);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}

.explore {
  background-color: var(--bg-color);
}
.explore__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 39px 0 57px 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .explore__wrapper {
    padding: 30px 0 30px 0;
  }
}
@media (min-width: 1025px) {
  .explore__wrapper {
    padding: 30px 0 30px 0;
  }
}
.explore__title {
  margin: 0;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .explore__title {
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
  }
}
@media (min-width: 1025px) {
  .explore__title {
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
  }
}
.explore__subtitle {
  margin: 0;
  margin-top: 18px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
}
.explore__button {
  width: 218px;
  padding: 13px 18.75px 13px 18.75px;
  margin-top: 27px;
  border: none;
  border-radius: 25px;
  background: var(--button-gradient, linear-gradient(0deg, #9356DC 0%, #FF79DA 100%));
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .explore__button {
    margin-top: 18px;
  }
}
@media (min-width: 1025px) {
  .explore__button {
    margin-top: 18px;
  }
}

.how-it-works {
  display: flex;
  flex-direction: column;
  padding: 48px 20px 68px 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .how-it-works {
    gap: 25px;
    padding: 50px 0 50px 0;
  }
}
@media (min-width: 1025px) {
  .how-it-works {
    gap: 25px;
    padding: 50px 0 50px 0;
  }
}
.how-it-works__title {
  margin: 0;
  margin-bottom: 26px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .how-it-works__title {
    margin-bottom: 25px;
  }
}
@media (min-width: 1025px) {
  .how-it-works__title {
    margin-bottom: 25px;
  }
}
.how-it-works__steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-left: 12px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .how-it-works__steps {
    flex-direction: row;
    gap: 36px;
  }
}
@media (min-width: 1025px) {
  .how-it-works__steps {
    flex-direction: row;
    gap: 36px;
  }
}
.how-it-works__step {
  position: relative;
  display: flex;
  align-items: center;
  gap: 23px;
  width: 100%;
  height: 72px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--bg-color);
}
.how-it-works__step-number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 0;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  transform: translateX(-50%);
}
.how-it-works__step-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-left: 34px;
  color: var(--grey-tint-4);
  font-size: 20px;
}
.how-it-works__step-description {
  margin: 0;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}

.restaurants {
  background-color: var(--bg-color);
}
.restaurants__wrapper {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 54px 20px 66px 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurants__wrapper {
    padding: 30px 0 30px 0;
  }
}
@media (min-width: 1025px) {
  .restaurants__wrapper {
    padding: 30px 0 30px 0;
  }
}
.restaurants__title {
  margin: 0;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurants__cards {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 50px;
  }
}
@media (min-width: 1025px) {
  .restaurants__cards {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 50px;
  }
}
.restaurants__card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurants__card {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc((100% - 100px) / 2);
  }
}
@media (min-width: 1025px) {
  .restaurants__card {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc((100% - 100px) / 2);
  }
}
.restaurants__card-image {
  width: 100%;
  height: 174px;
  object-fit: cover;
}
.restaurants__card-badge {
  position: absolute;
  top: 15px;
  right: 12px;
  padding: 7px 9px 6px 9px;
  border-radius: 2px;
  color: var(--green-font);
  background-color: var(--green);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.restaurants__card-content {
  display: flex;
  justify-content: space-between;
}
.restaurants__card-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 16px 0 12px 13px;
}
.restaurants__card-title {
  margin: 0;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}
.restaurants__card-subtitle {
  margin: 0;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}
.restaurants__card-like {
  margin: 23px 25px 33px 0;
  font-size: 22px;
}

.footer {
  background-color: var(--grey);
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px 25px 22px 25px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__wrapper {
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 74px;
    padding: 30px 25px 30px 25px;
    margin: 0 auto;
    max-width: 1024px;
    box-sizing: border-box;
  }
}
@media (min-width: 1025px) {
  .footer__wrapper {
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 74px;
    padding: 30px 25px 30px 25px;
    margin: 0 auto;
    max-width: 1440px;
    box-sizing: border-box;
  }
}
.footer__logo {
  margin: 0 40px 0 0;
  color: white;
  font-family: Shrikhand;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__list {
    flex-direction: row;
  }
}
@media (min-width: 1025px) {
  .footer__list {
    flex-direction: row;
  }
}
.footer__item {
  display: flex;
  align-items: center;
}
.footer__link {
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  text-decoration: none;
}
.footer__icon {
  width: 11px;
  margin-right: 11px;
  color: white;
  font-size: 13px;
}

/*# sourceMappingURL=style.css.map */
