.explore {
    // Background and Color
    background-color: $white-smoke;

    &__wrapper {
        // Box Model
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 39px 0 57px 0;

        @include tablet {
            // Box Model
            padding: 30px 0 30px 0;
        }

        @include desktop {
            // Box Model
            padding: 30px 0 30px 0;
        }
    }

        &__title {
            // Box Model
            margin: 0;

            // Background and Color
            color: $black;
        
            // Typography
            @include home-title-mobile;
            text-align: center;

            @include tablet {
                // Typography
                @include home-title-desktop;
            }

            @include desktop {
                // Typography
                @include home-title-desktop;
            }
        }

        &__subtitle {
            // Box Model
            margin: 0;
            margin-top: 30px; // 46-21=25 /2=12.5 +18=30.5

            // Background and Color
            color: $night-rider;

            // Typography
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 21px;
            text-align: center;
        }

        &__button {
            // Box Model
            width: 218px;
            padding: 13px 18.75px 13px 18.75px;
            margin-top: 27px;

            @include tablet {
                // Box Model
                margin-top: 30px; // 46-21=25 /2=12.5 +18=30.5
            }

            @include desktop {
                // Box Model
                margin-top: 30px; // 46-21=25 /2=12.5 +18=30.5
            }
        }
}

.how-it-works {
    // Box Model
    display: flex;
    flex-direction: column;
    padding: 48px 20px 68px 20px;

    @include tablet {
        // Box Model
        gap: 25px;
        padding: 50px 0 50px 0;
    }

    @include desktop {
        // Box Model
        gap: 25px;
        padding: 50px 0 50px 0;
    }

    &__title {
        // Box Model
        margin: 0;
        margin-bottom: 26px;

        // Typography
        @include home-title-mobile;

        @include tablet {
            // Box Model
            margin-bottom: 25px;
        }

        @include desktop {
            // Box Model
            margin-bottom: 25px;
        }
    }

    &__steps {
        // Box Model
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin-left: 12px;

        @include desktop {
            // Box Model
            flex-direction: row;
            gap: 36px;
        }
    }

        &__step {
            // Positioning
            position: relative;

            // Box Model
            display: flex;
            align-items: center;
            gap: 23px;
            width: 100%;
            height: 72px;
            border-radius: 20px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

            // Background and Color
            background-color: $white-smoke;

            &:hover .how-it-works__step-icon {
                color: $amethyst;
            }
        }

            &__step-number {
                // Positioning
                position: absolute;

                // Box Model
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                margin: 0;
                border-radius: 50%;

                // Background and Color
                color: $white;
                background-color: $amethyst;
                
                // Typography
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 17px;

                // Transitions and animations
                transform: translateX(-50%);
            }

            &__step-icon {
                // Box Model
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                margin-left: 34px;

                // Background and Color
                color: $grey;

                // Typography
                font-size: 20px;
            }

            &__step-description {
                // Box Model
                margin: 0;

                // Typography
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 19px;
            }

}

.restaurants {
    // Background and Color
    background-color: $white-smoke;

    &__wrapper {
        // Box Model
        display: flex;
        flex-direction: column;
        gap: 26px;
        padding: 54px 20px 66px 20px;

        @include tablet {
            // Box Model
            padding: 30px 0 30px 0;
        }

        @include desktop {
            // Box Model
            padding: 30px 0 30px 0;
        }
    }

        &__title {
            // Box Model
            margin: 0;

            // Typography
            @include home-title-mobile;
        }

        &__cards {
            // Box Model
            display: flex;
            flex-direction: column;
            gap: 18px;

            @include tablet {
                // Box Model
                flex-direction: row;
                flex-wrap: wrap;
                column-gap: 100px;
                row-gap: 50px;
            }

            @include desktop {
                // Box Model
                flex-direction: row;
                flex-wrap: wrap;
                column-gap: 100px;
                row-gap: 50px;
            }
        }

            
}
