.menu {
    // Box Model
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 13px 40px 13px;
    margin: -40px 0 0 0;
    border-radius: 40px 40px 0 0;

    // Background and Color
    background-color: $white-smoke;

    &__headline {
        // Box Model
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 32px;

        @include tablet {
            // Box Model
            justify-content: center;
            gap: 24px;
            margin-top: 51px;
        }

        @include desktop {
            // Box Model
            justify-content: center;
            gap: 24px;
            margin-top: 51px;
        }
        
        &-title {
            // Box Model
            margin: 0 0 0 4px;

            // Typography
            font-family: Shrikhand;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 41px;

            @include tablet {
                // Box Model
                margin: 0;
            }

            @include desktop {
                // Box Model
                margin: 0;
            }
        }

        &-like {
            // Box Model
            margin: 0 28px 0 0px; // 24+4=28

            // Typography
            font-size: 22px;
        }
    }

    &__content {
        // Box Model
        display: flex;
        flex-direction: column;
        gap: 12px;

        &-title {
            // Positioning
            position: relative;

            // Box Model
            margin: 0;
            padding-bottom: 8px; // 27-19=8

            // Typography
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 19px;
            text-transform: uppercase;

            &::after {
                // Positioning
                position: absolute;
                left: 0;
                bottom: 0px;
                
                // Box Model
                width: 40px;
                height: 3px;

                // Background and Color
                background-color: $riptide;

                // Other
                content: "";
            }
        }

        &-cards {
            // Box Model
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        @include desktop {
          // Box Model
          max-width: 626px;  
        }
    }

    &__order {
        // Box Model
        width: 186px;
        padding: 16px 48px 15px 49px;
    }
}

.menu-image {
    // Box Model
    width: 100%;
    height: 275px;

    // Background and Color
    object-fit: cover;

    @include tablet {
        // Box Model
        height: 383px;
    }

    @include desktop {
        // Box Model
        height: 383px;
    }
}

// === ANIMATION ===

$anim-dur: 1000ms;
$anim-delay: calc($anim-dur / 3);

.load-menu {
    // Layout
    opacity: 0;

    // Transitions and animations
    animation: fadeInMenu 200ms linear forwards;

    @for $i from 1 through 3 {
        &--#{$i} {
            // Transitions and animations
            animation-delay: $anim-delay * $i;
        }
    }

}

@keyframes fadeInMenu {
    0% {
        // Layout
        opacity: 0;

        // Transformations
        transform: translateX(-10px);        
    }
    100% {
        // Layout
        opacity: 1;
    }
}
